h1.banner {
    background-image: url("Images/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1345px;
    height: 125px;
}

ul.menu {
    list-style-type: none;
    background-color: #AA4444;
    color: white;
    font-size: 30px;
    text-align: right;
    height: 44px;
}

ul.menu a {
    color: white;
    text-decoration: none;
}

ul.menu a:visited {
    color: white;
    text-decoration: none;
}

ul.menu a:hover {
    color: white;
    text-decoration: none;
}

.home {
    padding-top: 5px;
    float: left;
}

.search_bar {
    display:inline-block;
    padding: 5px;
}

.search_icon {
    display:inline-block;
    padding: 5px;
    position: relative;
    left: -35px;
    bottom: 1px;
}

.login {
    display:inline-block;
    padding: 5px;
}

.register {
    display:inline-block;
    padding: 5px;
}

.account_icon {
    display:inline-block;
    padding: 5px;
}

.account_name {
    display:inline-block;
    padding: 5px;
}

.navbar{
    height: 200px;
    width: 1345px;
}

.search {
    border-radius: 20px;
    border: 0px;
    width: 200px;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.searchButton {
    width: 13px;
    height: 13px;
    background-image: url(Images/search.png);
    background-size: contain;
    border: none;
    cursor: pointer;
}