.banner {
    background-image: url("Images/logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    margin-top: 0%;
    margin-bottom: 0%;
}

ul.menu {
    list-style-type: none;
    background-color: #AA4444;
    color: white;
    font-size: 30px;
    text-align: right;
    height: 44px;
    overflow: hidden;
    margin-top: 0%;
    margin-right: 0%;
    border: solid thin black;
}

ul.menu a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}

ul.menu a:visited {
    color: white;
    text-decoration: none;
}

ul.menu a:hover {
    color: white;
    text-decoration: none;
}

.home {
    padding-top: 5px;
    float: left;
}

.search_bar {
    display:inline-block;
    padding: 5px;
}

.search_icon {
    display:inline-block;
    padding: 5px;
    position: relative;
    left: -40px;
    bottom: 1px;
}

.login {
    display:inline-block;
    padding: 5px;
    padding-right: 15px;
}

.register {
    display:inline-block;
    padding: 5px;
    padding-left: 15px;
}

.account_icon {
    display:inline-block;
    padding: 5px;
}

.account_name {
    display:inline-block;
    padding: 5px;
}

.navbar{
    width: 100%;
}

.search {
    border-radius: 20px;
    border: 0px;
    width: 200px;
    height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.searchButton {
    width: 13px;
    height: 13px;
    background-image: url(Images/search.png);
    background-size: contain;
    border: none;
    cursor: pointer;
}

.account_button {
    background-color: #AA4444;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    text-shadow: 1px 1px #000;
}

.account_menu {
    display: none;
    position: absolute;
    width: 150px;
    bottom: 86px;
    overflow: auto;
    background-color: #AA4444;
    font-size: 22px;
    border: solid thin black;
    border-top: none;
}

.account_menu a:hover {
    background-color: #66DF87;
}

.show_menu {
    display: block;
}

.menu_divider {
    margin: 0px;
}

footer {
    border: solid thin black;
    box-shadow: 3px 3px 5px #777777;
    padding: 5px;
    background-color: #AA4444;
    color: white;
    font-size: 15px;
}