body {
    min-width: 600px;
    background-color: #DFDFDF;
}

.profile { 
    display: inline-block;
    width: 100%;
    margin-bottom: 200px;
    border: solid thin black;
    box-shadow: 3px 3px 5px #777777;
    background-color: #AA4444;
    color: white;
}

.picture, .userinfo {
    height: 250px;
}

.picture {
    float: left;
    text-align: center;
    width: 50%;
    margin: 3% 0% 3% 0%;
}

.userinfo {
    float: right;
    width: 50%;
    padding: 9% 0% 0% 0%;
}

.bio {
    float: left;
    background-color: #ffbdb5;
    border-top: solid thin black;
    box-shadow: 3px 3px 5px #777777;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.top {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 99%;
}

textarea {
    width: 90%;
    height: 200px;
    font-size: 130%;
    box-shadow: 3px 3px 5px #777777;
    margin-bottom: 7%;
}

#avatar {
    background-color: #AA4444;
    height: 250px;
    width: 250px;
    border: solid thin black;
    box-shadow: 3px 3px 5px #777777;
}

h1 {
    font-size: 250%;
    margin: 0px 0px 5% 0px;
    text-decoration: underline;
}

label {
    font-size: 140%;
}

#username, #usertype, #date {
    margin-bottom: 3%;
    background-color: #AA4444;
    color: white;
    font-weight: bold;
    font-size: 100%;
    box-shadow: 3px 3px 5px #777777;
    text-align: center;
    height: 10%;
    width: 75%;
    border: solid thin black;
}