body{
    background-color: #dfdfdf;
    min-width: 800px;
}

/*
    Title Stuff
*/

.board_title{
     margin-top: -40px;
     padding-left: 5%;
     width: 100%;
     height: 90px;
     overflow: hidden;
}

h1{
   font-size: 300%;
   padding-bottom: 3%;
   display: inline-block;
   width: 500px;
}

/*
    Main - Thread List
*/

.main_content{
    margin: 0% 5% 0px 5%;
    box-shadow: 2px 2px 2px #777777;
    padding: .1%;
    background-color: black;
}

table{
    width: 100%;
    border: medium solid black;
    border-collapse: collapse;
}

th{
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #AA4444;
    font-size: x-large;
    color: white;
    
}

#topic{
    width: 70%;
}

tr{
    background-color: #fccccc;
}

tr:hover, #even:hover{
    transition: .5s;
    background-color:#e2ffe6;
}

#even{
    background-color: white;
}

td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: large;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.table_footer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.table_footer:hover{
    background-color: #fccccc;
}

#new_thread_button{
    float: right;
    padding: 10px 50px;
    font-size: large;
    border: thin solid #fccccc;
    background-color: #ffefed;
    cursor: pointer;
}

#disabled_button{
    float: right;
    padding: 10px 50px;
    font-size: large;
    border: thin solid #fccccc;
    background-color: #ffefed;
    cursor: pointer;
    cursor: default;
}

#new_thread_button:hover, #nav_button:hover, #post_button:hover{
    transition: .5s;
    background-color: #e2ffe6;
}

#thread_link a{
    color: black;    
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
}

#poster_link a{
    color: black;
    text-decoration: none;
}

#thread_link a:visited{
    color: #8c8c8c;
}

/*
    Page Navigation
*/

.Page_Navigation{
    float: right;
    margin-right: 6%;
    margin-top: 0%;
    margin-bottom: 5%;
}

#nav_button{
    padding: 10px 10px;
    box-shadow: 1px 1px 1px #777777;
    font-size: large;
    border: thin solid;
    background-color: #ffefed;
    cursor: pointer;
}

/*
    Thread Creation Input
*/

.create_thread{
    visibility: hidden;
    border: solid thick black;
    box-shadow: 2px 2px 2px #777777;
    background-color: #fccccc;
    margin: 20px 5% 20px 5%;
    padding: 0%;
    overflow: hidden;
}

.create_thread_content{
    width: 95%;
    margin: 5px auto 5px auto;
    overflow: hidden;
}

label{
    font-size: x-large;
    font-weight: bold;
}

#thread_title{
    width: 99%;
    border-radius: 10px;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 130%;
    box-shadow: 1px 1px 1px #777777;
}

#post_content{
    width: 99%;
    height: 100px;
    resize: none;
    border: solid thin #fccccc;
}

#thread_title:focus{
    transition: .5s;
    outline: none;
    background-color: #e2ffe6;
}

#post_content:focus{
    transition: .5s;
    outline-color: #e2ffe6;
    background-color: #e2ffe6;
}

#post_button{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px 50px;
    font-size: large;
    border: thin solid #fccccc;
    background-color: #ffefed;
    cursor: pointer;
    float: right;
}

/*
    Footer
*/

footer {
    margin-top: 75px;
}

