body {
    min-width: 600px;
    background-color: #DFDFDF;
}

h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 0%;
}

.legend {
    font-size: 170%;
    margin-bottom: 20px;
}

h2 {
    font-size: 100%;
    text-align: center;
}
    	    
legend {
    text-align: left;
}
    	    
div {
    display: block;
}

.main_content{
    margin: 0% auto 5% auto;
    border: solid;
    box-shadow: 2px 2px 2px #777777;
    background-color: #fccccc;
    width: 50%;
}

.login_content{
    margin: 0% 2% 2% ;
    overflow: hidden;
}
    	   
label{
    font-size: 130%;
}

input[type="password"], #username{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 130%;
    box-shadow: 1px 1px 1px #777777;
}

input[type="password"]:focus, #username:focus{
    transition: .5s;
    background-color: #e2ffe6;
    outline: none !important;
    box-shadow: 0 0 10px #e2ffe6;
}

.submit{
    margin-top: 5px;
    padding: 10px 50px;
    font-size: large;
    border: thin solid grey;
    background-color: #ffefed;
    cursor: pointer;
    float: right;
}
    	    
.submit:hover {
    background-color: #c7f9ce;
    border: solid thin black;
}