body{
    background-color: #dfdfdf;
    min-width: 800px;
}

.thread_title{
    margin-top: -40px;
    padding-left: 5%;
    margin-bottom: -30px;
    display: inline-block;
    width:50%;
}

h1{
    font-size: 300%;
}

#new_post_button{
    display: inline-block;
    float: right;
    margin-top: -5px;
    margin-right: 11%;
    padding: 10px 50px;
    font-size: large;
    border: thin solid;
    box-shadow: 1px 1px 1px #777777;
    background-color: #ffefed;
    cursor: pointer;
}

#disabled_button{
    display: inline-block;
    float: right;
    margin-top: -5px;
    margin-right: 11%;
    padding: 10px 50px;
    font-size: large;
    border: thin solid;
    box-shadow: 1px 1px 1px #777777;
    background-color: #ffefed;
    cursor: default;
}

#new_post_button:hover, #nav_button:hover, #post_button:hover,#new_post_button_content:hover{
    background-color: #c7f9ce;
     border: solid thin black;
}

/*
    First Post
*/

.main_content{
    border: solid medium black;
    box-shadow: 3px 3px 5px #777777;
    background-color: #fccccc;
    margin: 0% 5% 20px 5%;
    padding: 0%;
    overflow: hidden;
}

.first_post_header{
    background-color: #AA4444;
    border-right: solid medium;
    display: table-cell;
    width: 100px;
    overflow: hidden;
}

img{
    height: 100px;
    width: 100px;
    border: thin solid black;
}

h3{
    margin-top: 1px;
    text-align: center;
}

#poster_link a{
    color: black;
    text-decoration: none;
}

.post_content_space{
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

#new_post_button_content{
    float: right;
    padding: 10px 50px;
    font-size: large;
    border: none;/*#fccccc;*/
    background-color: #ffefed;
    cursor: pointer;
}

.post_content{
    padding: 1%;
    text-align: justify;
}

/*
    Other Posts
*/

.other_posts{
    list-style: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.other_content{
    border-left: solid medium black;
    border-right: solid medium black;
    border-bottom: solid medium black;
    border-top: none;
    box-shadow: 2px 2px 2px #777777;
    background-color: #fccccc;
    padding: 0%;
    overflow: hidden;
}

.post_content_space:hover, .first_post_header:hover, .other_post_header:hover{
    background-color: white;
}

img:hover, h3:hover{
    box-shadow: 3px 3px 5px #777777;
}

.other_post_0:nth-child(1){
    border-top: solid medium black;
}

.other_post_header{
    background-color: #AA4444;
    border-right: solid medium;
    display: table-cell;
    width: 100px;
    overflow: hidden;
}

/*
    Page Navigation
*/

.Page_Navigation{
    float: right;
    margin-right: 5%;
}

#nav_button{
    padding: 10px 10px;
    box-shadow: 1px 1px 1px #777777;
    font-size: large;
    border: thin solid;
    background-color: #ffefed;
    cursor: pointer;
}

/*
    Create Post
*/

.create_post{
    visibility: hidden;
    border: solid medium black;
    box-shadow: 2px 2px 2px #777777;
    background-color: #fccccc;
    margin: 40px 5% 20px 5%;
    padding: 0%;
    overflow: hidden;
}

.create_post_content{
    width: 95%;
    margin: 5px auto 5px auto;
    overflow: hidden;
}

label{
    font-size: x-large;
    font-weight: bold;
}

#reply_post{
    width: 99%;
    height: 100px;
    resize: none;
    border: thin solid gray;
}

#reply_post:focus{
    transition: .5s;
    outline-color: #e2ffe6;
    background-color: #e2ffe6;
}

#post_button{
    margin-right: 10px;
    padding: 10px 50px;
    font-size: large;
    border: thin solid gray;
    background-color: #ffefed;
    cursor: pointer;
    float: right;
}

footer{
    margin-top: 75px;
}