body {
    width: 1345px;
}

h1 {
    text-align: center;
}
    	    
legend {
    text-align: left;
}
    	    
div {
    display: block;
    text-align: center;}
    
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
    	    
label {
    text-align: right;
    display: inline-block;
    width: 140px;
    margin-bottom: 15px;}
    	    
button {
    width: 80px; 
    height: 30px;
    background-color: #EEEEEE;}
    	    
button:hover {
    background-color: #CC4444;}