body{
    background-color: #dfdfdf;
}


.main_content{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 3px 5px #777777;
    padding: .1%;
    background-color: black;
    border-radius: 7px;
}

.board_title{
     margin-top: -40px;
     margin-bottom: 20px;
     padding-left: 5%;
     height: 80px;
     width: 100%;
     overflow: hidden;
}

h1{
   font-size: 300%;
   display: inline-block;
}

#new_thread_button{
    float: right;
    margin-top: 36px;
    margin-right: 11%;
    padding: 10px 50px;
    font-size: large;
    border: thin solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #777777;
    background-color: #ffefed;
}

#new_thread_button:hover, #nav_button:hover{
    background-color: #e2ffe6;
}

table{
    width: 100%;
}

th{
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #AA4444;
    font-size: x-large;
}

#topic{
    width: 70%;
}

tr{
    background-color: #ffbdb5;
}

tr:hover, #even:hover{
    background-color:#e2ffe6;
}

#even{
    background-color: #ffefed;
}

td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: large;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

tfoot{
    display: table-footer-group;
    vertical-align: bottom;
    border-color: inherit;
}

table a{
    color: black;    
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
}

table a:visited{
    color: #8c8c8c;
    /*color: #474545;*/
}

.Page_Navigation{
    float: right;
    margin-right: 6%;
    margin-top: -4%;
    margin-bottom: 5%;
}

#nav_button{
    padding:5px 5px;
    box-shadow: 1px 1px 1px #777777;
    font-size: large;
    border: thin solid;
    border-radius: 5px;
    background-color: #ffefed;
}

