body{
    background-color: #dfdfdf;
    min-width: 600px
}

.header{
    margin: -40px auto -20px auto;
    width: 50%;
}

h1{
    overflow: hidden;
    font-size: 300%;
    display: inline-block;
    width: 600px;
}

.main_content{
    margin: 0% auto 5% auto;
    border: solid;
    box-shadow: 3px 3px 5px #777777;
    background-color: #ffbdb5;
    width: 50%;
}

h2{
    text-align: center;
    font-size: 170%;
}

.content{
    width: 75%;
    margin: 0% auto 1% auto;
    overflow: hidden;
}

input[type="search"]{
    width:100%;
    border-radius: 10px;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 130%;
    box-shadow: 1px 1px 1px #777777;
}

input[type="button"]{
    padding:5px 5px;
    box-shadow: 1px 1px 1px #777777;
    font-size: large;
    border: thin solid;
    background-color: #ffefed;
    cursor: pointer;
}

#ban{
    float: left;
}

#promote{
    float: right;
}