body{
    background-color: #dfdfdf;
    min-width: 800px;
}

.thread_title{
    margin-top: -40px;
    padding-left: 5%;
    width: 100%;
    height: 90px;
    overflow: hidden;
}

h1{
    font-size: 300%;
    padding-bottom: 3%;
    display: inline-block;
    width: 500px;
}

.main_content{
    border: solid thick black;
    box-shadow: 3px 3px 5px #777777;
    background-color: #ffbdb5;
    margin: 0% 5% 2% 5%;
    padding: 0%;
    overflow: hidden;
}

.first_post_header{
    background-color: #AA4444;
    border-right: solid thick;
    display: table-cell;
    width: 100px;
    overflow: hidden;
}

img{
    height: 100px;
    width: 100px;
    border: thin solid black;
}

h3{
    margin-top: 1px;
    text-align: center;
}

.post_content_space{
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.post_content{
    padding: 1%;
    text-align: justify;
}

.other_posts{
    list-style: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.other_content{
    border-left: solid thick black;
    border-right: solid thick black;
    border-bottom: solid thick black;
    border-top: none;
    box-shadow: 3px 3px 5px #777777;
    background-color: #ffbdb5;
    padding: 0%;
    overflow: hidden;
}

.post_content_space:hover, .first_post_header:hover, .other_post_header:hover{
    transition: .5s;
    background-color: #ffefed;
}

.other_post_0:nth-child(1){
    border-top: solid thick black;
}

.other_post_header{
    background-color: #AA4444;
    border-right: solid thick;
    display: table-cell;
    width: 100px;
    overflow: hidden;
}
