div.navbar > ul {
    list-style-type: none;
    color: white;
    font-size: 30px;
    text-align: right;
    text-shadow: 2px 2px #000;
}

div.navbar > li {
    background-color: rgba(0,0,0,0);
    display:inline-block;
    padding: 5px;
    float: left;
}

div.navbar > li:nth-last-child(1), li:nth-last-child(2), li:nth-last-child(4) {
    float: none;
}

div.navbar > li:nth-last-child(3) {
    float: none;
    position: relative;
    left: -35px;
    bottom: -2px;
}

div.navbar > li a {
    color: white;
    text-decoration: none;
}

div.navbar > li a:visited {
    color: white;
    text-decoration: none;
}

div.navbar > li a:hover {
    color: white;
    text-decoration: none;
}

div.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 97.5%;
    margin-top: 1%;
    margin-left: 1%;
    background-color: #FB4F14;
    border-color: #2E2926;
    opacity: .8;
    border-bottom-width: normal;
    border-style: solid;
    background-size: 100% 100%;
    line-height: 130px;
    box-shadow: 10px 10px 5px #888888;
}

div.navbar > .search {
    border-radius: 20px;
    border: 0px;
    width: 200px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

div.navbar > .searchButton {
    width: 13px;
    height: 13px;
    background-image: url(../Images/search.png);
    background-size: contain;
    border: none;
    cursor: pointer;
}

div.main_content{
    width: 97%;
    height: 700px;
    background-color: black;
}

body {
    background-color: #C4CED4;
}